<div class="card-panel <%= type == :error ? 'notice deep-orange' : 'notice teal lighten-2' %>">
  <%= msg %>
  <span class="close right" onclick="event.target.parentElement.style.display = 'none';">&times;</span>
</div>